<!DOCTYPE html>
<html>
  <head>
    <link href="prism.css" rel="stylesheet">
  </head>
  <body style="background-color:white;" >
	
	<div class="topcoat-navigation-bar" ng-controller="HomeCtrl">
	  <div class="topcoat-navigation-bar__item left quarter">
		<a class="topcoat-icon-button--quiet" ng-click="slidePage('/','modal')">
		  <span class="topcoat-icon home-icon"></span>
		</a>
	  </div>
	  <div class="topcoat-navigation-bar__item center half">
		<h1 class="topcoat-navigation-bar__title">Cake</h1>
	  </div>
	</div>
	
	<script type="text/javascript" src="prism.js"></script>

	<pre  ng-prism  class="language-python"><code>
		




"""
Colleen is turning  years old! She has  candles of various heights on her cake, and candle  has 
height hi . Because the taller candles tower over the shorter ones, Colleen can only blow out the 
tallest candles.

Given the  for each individual candle, find and print the number of candles she can successfully 
blow out.

Input Format

The first line contains a single integer, , denoting the number of candles on the cake. 
The second line contains  space-separated integers, where each integer  describes the height of 
candle .


Output Format

Print the number of candles Colleen blows out on a new line.

Sample Input
4
3 2 1 3

Sample Output
2

Explanation

We have one candle of height , one candle of height , and two candles of height . Colleen only 
blows out the tallest candles, meaning the candles where . Because there are  such candles, we 
print  on a new line.
"""

#!/bin/python3

import sys
n = int(input().strip())
height = [int(height_temp) for height_temp in input().strip().split(' ')]

print(height.count(max(height)))



        </code></pre>
  </body>
</html>		
