<!DOCTYPE html>
<html>
  <head>
    <link href="prism.css" rel="stylesheet">
  </head>
  <body style="background-color:white;" >
	
	<div class="topcoat-navigation-bar" ng-controller="HomeCtrl">
	  <div class="topcoat-navigation-bar__item left quarter">
		<a class="topcoat-icon-button--quiet" ng-click="slidePage('/','modal')">
		  <span class="topcoat-icon home-icon"></span>
		</a>
	  </div>
	  <div class="topcoat-navigation-bar__item center half">
		<h1 class="topcoat-navigation-bar__title">Cake</h1>
	  </div>
	</div>
	
	<script type="text/javascript" src="prism.js"></script>

	<pre  ng-prism  class="language-python"><code>
		





'''
http://codeforces.com/problemset/problem/466/A
Algorithm:
CASE A: res1
Find the total no of tickets that can be brought using group ticket (p)
with rate (b). Add them to result and now check that if its less expensive to buy the remaining tickets using group
ticket or individual ticket. Choose the smaller and add to the result.
CASE B: res2
Just multiply the total quantity with the individual rate
'''
n, m, a, b = map(int,raw_input().split(" "))
res1 = 0
res2 = 0


p = n/m

res1 += p*b
if(n%m!=0):
    if((n-(m*p))*a < b):
        res1 += (n-(m*p))*a
    else:
        res1 += b

res2 = n*a
print min(res1,res2)



        </code></pre>
  </body>
</html>		
