<!DOCTYPE html>
<html>
  <head>
    <link href="prism.css" rel="stylesheet">
  </head>
  <body style="background-color:white;" >
	<div class="topcoat-navigation-bar" ng-controller="HomeCtrl">
	  <div class="topcoat-navigation-bar__item left quarter">
		<a class="topcoat-icon-button--quiet" ng-click="slidePage('/','modal')">
		  <span class="topcoat-icon home-icon"></span>
		</a>
	  </div>
	  <div class="topcoat-navigation-bar__item center half">
		<h1 class="topcoat-navigation-bar__title">Chef and way</h1>
	  </div>
	</div>
	
	
	<script type="text/javascript" src="prism.js"></script>

	<pre  ng-prism  class="language-python"><code>
		

#Take Input for First Line (N, K)
[chef_street, k] = raw_input().split()

#Take Input for Second Line (Special Numbers for Streets)
special_token = raw_input().split()

#Integerify
chef_street = int(chef_street)
k = int(k)

#Assign product for first and last streets
product = int(special_token[0]) * int(special_token[chef_street-1])
#Initialise ProductMin List
product_min = []

#For Middle Addresses
for i in range(1, chef_street-1):
	product_temp = int(product) * int(special_token[i])
	product_min.append(product_temp)

#Print Minimum Answer
print (min(product_min)%1000000007)

  </code></pre>
  </body>
</html>		



