
<!DOCTYPE html>
<html>
  <head>
    <link href="prism.css" rel="stylesheet">
  </head>
  <body style="background-color:white;" >
	<div class="topcoat-navigation-bar" ng-controller="HomeCtrl">
	  <div class="topcoat-navigation-bar__item left quarter">
		<a class="topcoat-icon-button--quiet" ng-click="slidePage('/','modal')">
		  <span class="topcoat-icon home-icon"></span>
		</a>
	  </div>
	  <div class="topcoat-navigation-bar__item center half">
		<h1 class="topcoat-navigation-bar__title">Clean Up</h1>
	  </div>
	</div>
	
	
	<script type="text/javascript" src="prism.js"></script>

	<pre  ng-prism  class="language-python"><code>
		




def cleanup(case):
    n, m = map(int, input().split())
    cJobs = {int(x) for x in input().split()}
    tJobs = {x for x in range(1,n+1)}
    rJobs = tJobs.difference(cJobs)
    chefJobs = []
    assistJobs = []
    for i, x in enumerate(rJobs):
        if i%2 == 1:
            assistJobs.append(x)
        else:
            chefJobs.append(x)
    
    print(*chefJobs, sep=' ')
    print(*assistJobs, sep=' ')

T = int(input())
for i in range(T):
    cleanup(i)
    
    
  
        </code></pre>
  </body>
</html>		  
