<!DOCTYPE html>
<html>
  <head>
    <link href="prism.css" rel="stylesheet">
  </head>
  <body style="background-color:white;" >
	<div class="topcoat-navigation-bar" ng-controller="HomeCtrl">
	  <div class="topcoat-navigation-bar__item left quarter">
		<a class="topcoat-icon-button--quiet" ng-click="slidePage('/','modal')">
		  <span class="topcoat-icon home-icon"></span>
		</a>
	  </div>
	  <div class="topcoat-navigation-bar__item center half">
		<h1 class="topcoat-navigation-bar__title">Color Room</h1>
	  </div>
	</div>
	
	
	<script type="text/javascript" src="prism.js"></script>

	<pre  ng-prism  class="language-python"><code>
		







T = int(input("Enter the number of test"))

for x in range(T):
	rooms = int(input("Enter the number of rooms"))
	S = input("Enter the string of the colors in the rooms")
	R = S.count('R')
	G = S.count('G')
	B = S.count('B')
	number = len(S) - max(R, G, B)
	print(number)
	
	
	
        </code></pre>
  </body>
</html>		
	
