<div class="topcoat-navigation-bar">
    <div class="topcoat-navigation-bar__item center three-quarters">
        <h1 class="topcoat-navigation-bar__title">Python DataStructures</h1>
    </div>
	<!--
    <div class="topcoat-navigation-bar__item right quarter">
        <a class="topcoat-icon-button--quiet" ng-click="changeSettings()">
            <span class="topcoat-icon settings-icon"></span>
        </a>
    </div>-->
</div>
<div class="topcoat-list__container list">
  <!--  <h3 class="topcoat-list__header">Top Coder Python</h3>-->
    <ol class="topcoat-list">
        <li class="topcoat-list__item--first" ng-click="slidePage('/view8')">
            Circular Queue
        </li>
		
        <li class="topcoat-list__item" ng-click="slidePage('/view1')">
            Base Queue      </li>
		
        <li class="topcoat-list__item" ng-click="slidePage('/view2')">
            Linked List
        </li>
		
        <li class="topcoat-list__item" ng-click="slidePage('/view3')">
           Stack
        </li>
		
        <li class="topcoat-list__item" ng-click="slidePage('/view4')">
            Stacked Linked List
        </li>
		
		
        <li class="topcoat-list__item" ng-click="slidePage('/view5')">
            Binary Search Tree
        </li>
		
        <li class="topcoat-list__item" ng-click="slidePage('/view6')">
            Tree
        </li>

	  <li class="topcoat-list__item" ng-click="slidePage('/view9')">
		Priority Queue
	  </li>
       
		
		
	  <li class="topcoat-list__item" ng-click="slidePage('/view10')">
		Deque
		
	  </li>

	  <li class="topcoat-list__item" ng-click="slidePage('/view11')">
		Queue

	  </li>
	  

	  <li class="topcoat-list__item" ng-click="slidePage('/view12')">
		Array

	  </li>
	

	  <li class="topcoat-list__item" ng-click="slidePage('/view13')">
		Graph Breadth First Search

	  </li>
	


	  <li class="topcoat-list__item" ng-click="slidePage('/view14')">
		Graph Depth First Search

	  </li>
	

	  <li class="topcoat-list__item" ng-click="slidePage('/view15')">
		Heap

	  </li>
	  

	  <li class="topcoat-list__item" ng-click="slidePage('/view16')">
		Heap Sort

	  </li>
	  

	  <li class="topcoat-list__item" ng-click="slidePage('/view17')">
		Intersection of two linked list

	  </li>

	  <li class="topcoat-list__item" ng-click="slidePage('/view18')">
		Remove Duplicates in linked list

	  </li>
	  

	  <li class="topcoat-list__item" ng-click="slidePage('/view19')">
		Sum Linked List

	  </li>
	  

	  <li class="topcoat-list__item" ng-click="slidePage('/view20')">
		Kth Element from End

	  </li>
	  
	  

	  <li class="topcoat-list__item" ng-click="slidePage('/view21')">
	   Queue Via Stack

	  </li>
	  

	  <li class="topcoat-list__item" ng-click="slidePage('/view22')">
		Sort Stack

	  </li>
	  

	  <li class="topcoat-list__item" ng-click="slidePage('/view23')">
		Stack Minimum

	  </li>
	  

	  <li class="topcoat-list__item" ng-click="slidePage('/view24')">
		Check For Balanced Tree

	  </li>
	
	


	  


	  <li class="topcoat-list__item" ng-click="slidePage('/view26')">
		String Compression

	  </li>
	  

	  <li class="topcoat-list__item" ng-click="slidePage('/view27')">
		Check String Permutation
	  </li>
	


	  <li class="topcoat-list__item" ng-click="slidePage('/view28')">
		Check if substring
	  </li>
	  
	  


	  <li class="topcoat-list__item" ng-click="slidePage('/view29')">
		Rotate Matrix By 90
	  </li>

	


	  <li class="topcoat-list__item" ng-click="slidePage('/view30')">
		Urlify
	  </li>
	  
	  

	  <li class="topcoat-list__item" ng-click="slidePage('/view33')">
		Check Permutation of Palindrome
	  </li>
	

	  <li class="topcoat-list__item" ng-click="slidePage('/view34')">
		One edit away
	  </li>


	  <li class="topcoat-list__item" ng-click="slidePage('/view35')">
		String Unique Characters
	  </li>
	  
	  
</div>
<!--
<ng-include src="'partials/settingsOverlay.html'"></ng-include>
-->
