<div class="topcoat-navigation-bar">
    <div class="topcoat-navigation-bar__item center three-quarters">
        <h1 class="topcoat-navigation-bar__title">Python Tensorflow</h1>
    </div>
	<!--
    <div class="topcoat-navigation-bar__item right quarter">
        <a class="topcoat-icon-button--quiet" ng-click="changeSettings()">
            <span class="topcoat-icon settings-icon"></span>
        </a>
    </div>-->

<div class="topcoat-list__container list">
  <!--  <h3 class="topcoat-list__header">Top Coder Python</h3>-->
    <ol class="topcoat-list">
        <li class="topcoat-list__item--first" ng-click="slidePage('/view1')">
           Tensorflow Hello World
        </li>

       <li class="topcoat-list__item" ng-click="slidePage('/view2')">
            Tensorflow session
        </li>
		
        <li class="topcoat-list__item" ng-click="slidePage('/view3')">
            tf.tensors
		  
        </li>
		<!--
        <li class="topcoat-list__item" ng-click="slidePage('/view3')">
            Reshaping of Data
        </li>
		
		
		
        <li class="topcoat-list__item" ng-click="slidePage('/view4')">
            Loop and unique values in dataframe
        </li>
		
		
	
		
        <li class="topcoat-list__item" ng-click="slidePage('/view6')">
            Head And Number Of Columns
        </li>
		
		
        <li class="topcoat-list__item" ng-click="slidePage('/view7')">
            Data Slicing and filter
        </li>
	
	
	  <li class="topcoat-list__item" ng-click="slidePage('/view10')">
	     Creating Series and dataframe example
		
	  </li>
	  

	  <li class="topcoat-list__item" ng-click="slidePage('/view11')">
	 
		 Boolean Indexing

	  </li>
	 
	  

	  <li class="topcoat-list__item" ng-click="slidePage('/view12')">

		 Select Columns

	  </li>
	  
	  
	  
	  
	  <li class="topcoat-list__item" ng-click="slidePage('/view13')">
		 Group By

	  </li>
	  
	  
	  <li class="topcoat-list__item" ng-click="slidePage('/view14')">
		  Pandas Series

	  </li>
	  <!--

	  <li class="topcoat-list__item" ng-click="slidePage('/view14')">
	  While loop

	  </li>
	  

	  <li class="topcoat-list__item" ng-click="slidePage('/view15')">
		 List sorting

	  </li>

	  

	  <li class="topcoat-list__item" ng-click="slidePage('/view16')">
		Counter
  </li>
	 
	  <li class="topcoat-list__item" ng-click="slidePage('/view17')">
		Round Complex Divmod Pow

	  </li>   
	  
	  <li class="topcoat-list__item" ng-click="slidePage('/view18')">
		List Intro

	  </li>
	  
	  
	  <li class="topcoat-list__item" ng-click="slidePage('/view19')">

		List comprehension

	  </li>
	    
	    

	  
	  <li class="topcoat-list__item" ng-click="slidePage('/view20')">

		String Intro

	  </li>
	  

	  <li class="topcoat-list__item" ng-click="slidePage('/view21')">

		Lambda Map and Filter

	  </li>
	  


	  <li class="topcoat-list__item" ng-click="slidePage('/view22')">

		Inheritance

	  </li> 
	  

	  <li class="topcoat-list__item" ng-click="slidePage('/view23')">

	     Tuple Intro

	  </li> -->

	  
    </ol>
	<!--
    <div class="topcoat-navigation-bar">
        <h1 class="centerize"  ng-show="!showURL" ng-swipe-left="showURL=true">Version  {{' %VERSION%' | interpolate}} </h1>
        <h1 class="centerize" ng-show="showURL" ng-swipe-right="showURL=false"><a href="http://devgirl.org">devgirl.org </a></h1>
    </div>
</div>
<!--
<ng-include src="'partials/settingsOverlay.html'"></ng-include>
-->
