<div class="topcoat-navigation-bar">
    <div class="topcoat-navigation-bar__item center three-quarters">
        <h1 class="topcoat-navigation-bar__title">Python for Beginners</h1>
    </div>
	<!--
    <div class="topcoat-navigation-bar__item right quarter">
        <a class="topcoat-icon-button--quiet" ng-click="changeSettings()">
            <span class="topcoat-icon settings-icon"></span>
        </a>
    </div>-->

<div class="topcoat-list__container list">
  <!--  <h3 class="topcoat-list__header">Top Coder Python</h3>-->
    <ol class="topcoat-list">
        <li class="topcoat-list__item--first" ng-click="slidePage('/view8')">
           For Loop
        </li>
	
        <li class="topcoat-list__item" ng-click="slidePage('/view1')">
            Functions
        </li>
		
        <li class="topcoat-list__item" ng-click="slidePage('/view2')">
            List of lists
		  
        </li>
		
        <li class="topcoat-list__item" ng-click="slidePage('/view3')">
           Loop with break
        </li>
		
		
		
        <li class="topcoat-list__item" ng-click="slidePage('/view4')">
            If Elif Else
        </li>
		
		
        <li class="topcoat-list__item" ng-click="slidePage('/view5')">
            List Comprehension
        </li>
	
		
        <li class="topcoat-list__item" ng-click="slidePage('/view6')">
            Loop with continue
        </li>
		
		
        <li class="topcoat-list__item" ng-click="slidePage('/view7')">
            If else in one line
        </li>
		
	
	  <li class="topcoat-list__item" ng-click="slidePage('/view9')">
		 List looping enumeration
		
	  </li>
	  

	  <li class="topcoat-list__item" ng-click="slidePage('/view10')">
	 
		 Split string 

	  </li>
	 
	  

	  <li class="topcoat-list__item" ng-click="slidePage('/view11')">

		Generators

	  </li>
	  
	  
	  
	  
	  <li class="topcoat-list__item" ng-click="slidePage('/view12')">
		Shallow vs deepcopy

	  </li>
	  
	  
	  <li class="topcoat-list__item" ng-click="slidePage('/view13')">
		  Dictionary sorting

	  </li>
	  

	  <li class="topcoat-list__item" ng-click="slidePage('/view14')">
	  While loop

	  </li>
	  

	  <li class="topcoat-list__item" ng-click="slidePage('/view15')">
		 List sorting

	  </li>

	  <!--

	  <li class="topcoat-list__item" ng-click="slidePage('/view16')">
		Multi Layer Perceptron
  </li>
	  
	  <li class="topcoat-list__item" ng-click="slidePage('/view17')">
		Nuero Evolution

	  </li>   
	  <li class="topcoat-list__item" ng-click="slidePage('/view18')">
		Convolution Nueral Network

	  </li>
	  
	  
	  <li class="topcoat-list__item" ng-click="slidePage('/view19')">

		DbScan

	  </li>

	  
	  <li class="topcoat-list__item" ng-click="slidePage('/view20')">

		Gausian Mixture model

	  </li>
	  

	  <li class="topcoat-list__item" ng-click="slidePage('/view21')">

		K means

	  </li>
	  


	  <li class="topcoat-list__item" ng-click="slidePage('/view22')">

		Perceptron

	  </li> 
	  

	  <li class="topcoat-list__item" ng-click="slidePage('/view23')">

	  Decision Tree Classifier

	  </li> 

	  
	  <li class="topcoat-list__item" ng-click="slidePage('/view24')">

		Principal Component Analysis

	  </li>   
	  

	  <li class="topcoat-list__item" ng-click="slidePage('/view25')">

		Support Vector Machine

	  </li>   
	  
	  

	  <li class="topcoat-list__item" ng-click="slidePage('/view26')">

		Random forest py

	  </li>   
	  
	  

	  <li class="topcoat-list__item" ng-click="slidePage('/view27')">

		K nearest neighbor

	  </li>   

	  
	  <li class="topcoat-list__item" ng-click="slidePage('/view28')">

	 Ada Boost

	  </li>   


	  <li class="topcoat-list__item" ng-click="slidePage('/view29')">

	Recurrent Nueral Network

	  </li>   


	  <li class="topcoat-list__item" ng-click="slidePage('/view30')">

	 Particle Swarm Optimisation

	  </li>   
	  

	  <li class="topcoat-list__item" ng-click="slidePage('/view33')">

		Logistic Regression

	  </li>   
	  

	  <li class="topcoat-list__item" ng-click="slidePage('/view34')">

		Demo

	  </li>   
	  

	  <li class="topcoat-list__item" ng-click="slidePage('/view35')">

		Naive Bayes

	  </li>   
	  
	  <li class="topcoat-list__item" ng-click="slidePage('/view36')">
		
		Partitioning around mediods
	  </li>
	

	  <li class="topcoat-list__item" ng-click="slidePage('/view37')">

		Restricted Boltzman machine
		
	  </li>
	  


	  <li class="topcoat-list__item" ng-click="slidePage('/view38')">

		Multi Class Ida
	  </li>

	  
	  <li class="topcoat-list__item" ng-click="slidePage('/view39')">

		XG boost

	  </li>
	  

	  <li class="topcoat-list__item" ng-click="slidePage('/view40')">

	 Linear Regression

	  </li>
	  

	  <li class="topcoat-list__item" ng-click="slidePage('/view41')">

		Linear Discriminant Analysis

	  </li>
	  
	  
	  
    </ol>
	<!--
    <div class="topcoat-navigation-bar">
        <h1 class="centerize"  ng-show="!showURL" ng-swipe-left="showURL=true">Version  {{' %VERSION%' | interpolate}} </h1>
        <h1 class="centerize" ng-show="showURL" ng-swipe-right="showURL=false"><a href="http://devgirl.org">devgirl.org </a></h1>
    </div>
</div>
<!--
<ng-include src="'partials/settingsOverlay.html'"></ng-include>
-->
