
<!DOCTYPE html>
<html>
  <head>
    <link href="prism.css" rel="stylesheet">
  </head>
  <body style="background-color:white;" >
	
	<div class="topcoat-navigation-bar" ng-controller="HomeCtrl">
	  <div class="topcoat-navigation-bar__item left quarter">
		<a class="topcoat-icon-button--quiet" ng-click="slidePage('/','modal')">
		  <span class="topcoat-icon home-icon"></span>
		</a>
	  </div>
	  <div class="topcoat-navigation-bar__item center half">
		<h1 class="topcoat-navigation-bar__title">N series</h1>
	  </div>
	</div>
	
	<script type="text/javascript" src="prism.js"></script>

	<pre  ng-prism  class="language-python"><code>
		



import math

T = int(input())

while (T>0):
	sum = 0
	n = int(input())
	for x in range (1, n+1):
		sum += (math.pow(x, 2) - math.pow(x-1, 2))

	print(int(sum % (math.pow(10, 9) + 7)))
	T -= 1
	
	
	
        </code></pre>
  </body>
</html>		  
