<!DOCTYPE html>
<html>
  <head>
    <link href="prism.css" rel="stylesheet">
  </head>
  <body style="background-color:white;" >
	
	<div class="topcoat-navigation-bar" ng-controller="HomeCtrl">
	  <div class="topcoat-navigation-bar__item left quarter">
		<a class="topcoat-icon-button--quiet" ng-click="slidePage('/','modal')">
		  <span class="topcoat-icon home-icon"></span>
		</a>
	  </div>
	  <div class="topcoat-navigation-bar__item center half">
		<h1 class="topcoat-navigation-bar__title">Permutation</h1>
	  </div>
	</div>
	
	<script type="text/javascript" src="prism.js"></script>

	<pre  ng-prism  class="language-python"><code>
		






# Given 2 strings, decide one is permutation of other.

def checkPermutation(str1, str2):
	if len(str1) != len(str2):
		return False
	else:
		return " ".join(sorted(str1)) == " ".join(sorted(str2))

print(checkPermutation("abc", "bcc"))


   </code></pre>
  </body>
</html>		
