<!DOCTYPE html>
<html>
  <head>
    <link href="prism.css" rel="stylesheet">
  </head>
  <body style="background-color:white;" >
	
	<div class="topcoat-navigation-bar" ng-controller="HomeCtrl">
	  <div class="topcoat-navigation-bar__item left quarter">
		<a class="topcoat-icon-button--quiet" ng-click="slidePage('/','modal')">
		  <span class="topcoat-icon home-icon"></span>
		</a>
	  </div>
	  <div class="topcoat-navigation-bar__item center half">
		<h1 class="topcoat-navigation-bar__title">Cake</h1>
	  </div>
	</div>
	
	<script type="text/javascript" src="prism.js"></script>

	<pre  ng-prism  class="language-python"><code>
	




# -*- coding:utf-8 -*-

class stack():
    def __init__(self,size,top = -1):
        self.size = size
        self.stack = []
        self.top = top

    def PushStack(self,data):
        if self.top == self.size - 1:
            print "Stack Is Full!"
        else:
            self.top = self.top + 1
            self.stack.append(data)

    def PopStack(self):
        if self.top == -1:
            print "Stack Is Empty!"
        else:
            self.top = self.top - 1
            self.stack.pop()

    def IsEmptyStack(self):
        return self.top == -1


    def IsFullStack(self):
        return self.top == self.size - 1

    def PrintStack(self):
        return self.stack


if __name__ == '__main__':
     s = stack(20)
     for i in range(3):
         s.PushStack(i)
     print "Stack:",s.PrintStack()
     s.PopStack()
     print "Stack:",s.PrintStack()
     print "Is Stack Empty?:",s.IsEmptyStack()
     
     
     
        </code></pre>
  </body>
</html>		
