
<!DOCTYPE html>
<html>
  <head>
    <link href="prism.css" rel="stylesheet">
  </head>
  <body style="background-color:white;" >
	
	<div class="topcoat-navigation-bar" ng-controller="HomeCtrl">
	  <div class="topcoat-navigation-bar__item left quarter">
		<a class="topcoat-icon-button--quiet" ng-click="slidePage('/','modal')">
		  <span class="topcoat-icon home-icon"></span>
		</a>
	  </div>
	  <div class="topcoat-navigation-bar__item center half">
		<h1 class="topcoat-navigation-bar__title">Symmetric Difference</h1>
	  </div>
	</div>
	
	<script type="text/javascript" src="prism.js"></script>

	<pre  ng-prism  class="language-python"><code>
	



"""
Given  sets of integers, M and N , print their symmetric difference in ascending order. The term 
symmetric difference indicates those values that exist in either M or N but do not exist in both.
"""

M = input()
m = input().split()
N = input()
n = input().split()

print ("\n".join(sorted(list(set(m) ^ set(n)),key=int)))

# another solution
"""
M = int(input())
L1 = [int(x) for x in input().split()]
N = int(input())
L2 = [int(x) for x in input().split()]

for x in L1:
	if x not in L2:
		print(x)
for x in L2:
	if x not in L1:
		print(x)
"""

        </code></pre>
  </body>
</html>		
