<!DOCTYPE html>
<html>
  <head>
    <link href="prism.css" rel="stylesheet">
  </head>
  <body style="background-color:white;" >
	<div class="topcoat-navigation-bar" ng-controller="HomeCtrl">
	  <div class="topcoat-navigation-bar__item left quarter">
		<a class="topcoat-icon-button--quiet" ng-click="slidePage('/','modal')">
		  <span class="topcoat-icon home-icon"></span>
		</a>
	  </div>
	  <div class="topcoat-navigation-bar__item center half">
		<h1 class="topcoat-navigation-bar__title">Twwed</h1>
	  </div>
	</div>
	
	
	<script type="text/javascript" src="prism.js"></script>

	<pre  ng-prism  class="language-python"><code>
		






T = int(input());
while(T):
	N, P = input().split()
	M = [int(x) for x in input().split()]
	N = int(N)
	
	if (N==1 and M[0]%2 == 0 and P=="Dee"):
		print("Dee")
	else:
		print("Dum")

	T -= 1
	
	
	   </code></pre>
  </body>
</html>		
